---
import Header from "../components/Header.astro";

const navLinks = [
    { href: "/", text: "Home" },
    { href: "/about", text: "About" },
    { href: "/blog", text: "Blog" },
];
---

<html lang="en">
    <Header navLinks={navLinks} />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <body>
        <h1>Astro</h1>
        <h3>
            alkdwa;jakljdfawf Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
        </h3>
        Veritatis officiis sapiente cupiditate fugiat, blanditiis eligendi consequuntur
        explicabo earum delectus. Ea dicta officiis fugiat at eius. In facere modi
        <h3>
            alkdwa;jakljdfawf Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
        </h3>
        vero illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        deleniti quo, magni consequuntur dicta odit nam impedit suscipit cupiditate
        unde perspiciatis. Quos fugiat quisquam, in deleniti eius officiis error
        <h3>
            alkdwa;jakljdfawf Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
        </h3>
        optio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi non
        earum nihil, cumque hic dicta doloremque autem dolor quidem quo magni. Eos,
        distinctio nesciunt quis praesentium cumque corporis perspiciatis repellat.
    </body>
</html>
